html {
    scroll-behavior: auto;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    height: 100vh;
    /* Can be removed */
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    /* Can be removed */
}

p {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 2em;
}

.section {
    /* display: flex;
    position: relative;
    width: 100%; */

    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ensure it takes up the full viewport height */
}

#image-container {
    position: relative;
    display: flex;
    width: 100%;
}

#mainImg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
}

#table-content {
    visibility: hidden;
}

#welcome {
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: #D2971A;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    /* Make sure it's fixed to the viewport */
    top: 25%;
    /* Adjust this to place it correctly */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;

}

#welcome-text {
    width: 60vw;
    width: 70%;
    height: fit-content;
    /* background-color: rgba(0,0,0,0.5); */
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 0.4em;
    /* font-size: 2vw; */
    color: #D1B373;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    /* Make sure it's fixed to the viewport */
    top: 100%;
    padding: 200px;
    padding: 1vw;
}

.icon-container-1 {
    /* display: flex; */
    position: fixed;
    /* justify-content: space-between; */
    width: 100vw;
    height: 100vh;
    /* border: 30px solid #000; */
    left: 0;
    transition: left 0.5s ease-in-out;
}

#icon-1 {
    border: 1px solid red;
    display: flex;
    position: relative;
    flex-direction: column; 
    text-align: center;
    width: 400px;
    /* width: 20vw; */
    height: fit-content;
    /* left: 200px; */
    /* left: 10vw; */
    right: -10vw;
}

#feketesereg {
    transition: width 0.5s ease-in-out;
}

#icon-2 {
    border: 1px solid red;
    display: flex;
    position: relative;
    flex-direction: column; 
    text-align: center;
    width: 400px;
    /* width: 20vw; */
    height: fit-content;
    /* left: 70vw; */
    right: -70vw;
    bottom: 25vh;
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out; 
}

#monastary {
    transition: width 0.5s ease-in-out;
}

.label {
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #000;
}

.hoverIcon {
    transition: transform 0.5s;
}

.hoverIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.sidebar-left{

    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left will be set from -100% to 0 */
    left: 100%;
    /* z-index: 2; */
    /* background-color: red; */
    transition: left 0.5s ease-in-out;
    z-index: 2;

}

/* .sidebar-content {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    width: 60vw;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
} */

.sidebar-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.sidebar-content img {
    width: fit-content;
    height: 50vh;
    border-radius: 40px;
    padding-right: 15px;
    /* box-shadow: #D1B373 10px 10px 0px 0px; */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    height: 50vh;
    width: fit-content;
    position:relative;
}

.text p {
    /* padding: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    color: #D1B373;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 2em;
    text-align: justify;
    align-content: center;
    height: 50vh;
    width: fit-content;
    min-height: 50vh;
    /* background-color: red; */

}




/* Previous and Next Arrows */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    /* background-color: #D2971A; */
}

a:hover {
    background-color: #b58318;
    color: black;
}

.previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: #D1B373; */
    color: black;
    left: 0;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    right: 0;
}

.round {
    border-radius: 50%;
}

/* Define styles for button states */
.arrow-default {
    background-color: #D2971A;
}

.arrow-disabled {
    background-color: #D1B373;
}

/* The dots/bullets/indicators */
.dots {
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top: auto; Push the dots to the bottom */
    margin-top: -20px;
    
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #D1B373;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #b58318;
}
