html {
    scroll-behavior: auto;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

p {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 2em;
}

.section {
    width: 100%;
}


#mainImg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
}

#table-content {
    visibility: hidden;
}


/* Fade in animation when table content is showing up */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.fade-out-down {
    animation: fadeOutDown 0.5s ease-out forwards;
}


/* Welcome content */
.welcome {
    /* border: 3px solid red; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 70vh;
    top: 15%;
    margin: auto;

}

#welcome {
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D2971A;
    position: relative;
}

#welcome-text {
    font-family: "Merriweather", serif;
    font-style: normal;
    color: #D1B373;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 0;
    padding-bottom: 30px;
}

.icon-container-1 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    /* border: 3px solid green; */
    left: 0;
    transition: left 0.5s ease-in-out;

}

.label {
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-top: -6%;
    text-align: center;
}

.hoverIcon {
    transition: transform 0.5s;
}

.hoverIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}


#icon-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;    
}

#feketesereg {
    z-index: 2;
    position: relative;
}

#icon-2 {
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

#monastary {
    position: relative;
    left: 0;
}

#label-monastary {
    margin-top: 0;
}

.icon-container-2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    /* border: 3px solid green; */
    left: 0;
    transition: left 0.5s ease-in-out;
}

#icon-3 {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

#community {
    z-index: 2;
    position: relative;
    left: 0;
}


#icon-4 {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

#bogracs {
    position: relative;
    left: 0;
}

.icon-container-3 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    /* border: 3px solid green; */
    left: 0;
    transition: left 0.5s ease-in-out;
}

#icon-5 {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

#hungarian {
    z-index: 2;
    position: relative;
    left: 0;
}

#label-hungarian {
    margin-top: 0;
}

#icon-6 {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

#niceBench {
    position: relative;
    left: 0;
}

#label-niceBench {
    margin-top: -15%;
}



.sidebar-left {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;
    /* border: 10px solid orange; */

}

.sidebar-right {
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
    /* border: 10px solid green; */

}

.sidebar-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    /* border: 3px solid blue; */

}


.slideshow-container {
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 3px solid yellow; */
}


.slideshow-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 1s linear;
}

.slideshow-container img.visible {
    opacity: 1;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    position: relative;
    /* border: 3px solid green; */
    float: inline-end;


}

.text p {
    padding-left: 50px;
    padding-right: 50px;
    color: #D1B373;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 2em;
    /* text-align: justify; */
    text-align: start;
    align-content: center;
    width: fit-content;
    /* border: 3px solid blueviolet; */
}

#call-to-action {
    background-color: #432313;
    border: 2px solid #D2971A;
    color: #D2971A;
    font-family: "adorn-condensed-sans", sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 32px;
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
}

#call-to-action:hover {
    background-color: #D2971A;
    color: #432313;
}



/* Previous and Next Arrows */
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #b58318;
    color: black;
}

.previous {
    position: absolute;
    transform: translateY(-50%);
    color: black;
    left: 0;
}

.next {
    position: absolute;
    transform: translateY(-50%);
    color: black;
    right: 0;


}

.round {
    border-radius: 50%;
}

/* Define styles for button states */
.arrow-default {
    background-color: #D2971A;

}

.arrow-disabled {
    background-color: #D1B373;

}

/* The dots/bullets/indicators */
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #D1B373;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #b58318;
}




/* Responsiveness: Mediaqueries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome {
        /* border: 3px solid red; */
        flex-wrap: nowrap;
        justify-content: center;
    }

    #welcome {
        /* border: 3px solid blue; */
        width: 90vw;
        font-size: 6vh;
    }

    #welcome-text {
        /* border: 3px solid green; */
        width: 90vw;
        font-size: 3vh;
    }

    .icon-container-1 {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #icon-1 {
        width: 60vw;
        left: 10vw;        
    }

    #icon-2 {
        width: 50vw;
        left: 40vw;
    }

    #icon-3 {
        width: 60vw;
        left: 10px;
    }

    #icon-4 {
        width: 80vw;
        left: 30vw;
    }

    #icon-5 {
        width: 60vw;
        left: 10px;
    }

    #icon-6 {
        width: 80vw;
        left: 20vw;
    }

    .label {
        font-size: 3em;
        left: -200px;
    }


    .sidebar-content {
        flex-direction: column;
        /* border: 3px solid blue; */
    }

    .slideshow-container {
        width: 70vw;
        /* border: 3px solid yellow; */
    }


    .slideshow-container img {
        padding-right: 0;
    }

    .text {
        width: 70vw;
        /* border: 3px solid green; */
    }

    .text p {
        font-size: 16px;
        height: 40vh;
        width: 75vw;
        min-height: 40vh;
        /* border: 3px solid blueviolet; */
    }

    .previous {
        left: -10px;
        top: 40%;
    }

    .next {
        right: -10px;
        top: 40%;
    }

    .dots {
        margin-bottom: -1vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome {
        flex-wrap: nowrap;
        justify-content: center;
    }

    #welcome {
        font-size: 8vh;
    }

    #welcome-text {
        width: 90vw;
        font-size: 3vh;

    }

    #icon-1 {
        width: 40vw;
        left: 0;
        top: -10vh;
        /* border: 3px solid yellow; */
    }

    #icon-2 {
        width: 40vw;
        left: 40vw;
    }

    #icon-3 {
        width: 45vw;
        right: 0;
    }

    #icon-4 {
        width: 60vw;
        left: 40vw;
    }

    #icon-5 {
        width: 50vw;
        top: -5vh;
    }

    #icon-6 {
        width: 60vw;
        left: 40vw;
    }

    .label {
        font-size: 5em;
    }

    .sidebar-content {
        flex-direction: column;
        /* border: 3px solid blue; */

    }

    .slideshow-container {
        width: 70vw;
        /* border: 3px solid yellow; */
    }


    .slideshow-container img {
        padding-right: 0;
    }

    .text {
        width: 70vw;
        /* border: 3px solid green; */
    }

    .text p {
        height: 45vh;
        min-height: 40vh;
        font-size: 1.5em;
        /* border: 3px solid blueviolet; */
    }

    a {
        padding: 24px 32px;
    }

    .previous {
        left: -30px;
        top: 40%;
    }

    .next {
        right: -30px;
        top: 40%;
    }

    .dots {
        margin-bottom: 100px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .welcome {
        flex-wrap: nowrap;
        justify-content: center;
    }

    #welcome {
        font-size: 8vh;
    }

    #welcome-text {
        width: 90vw;
        font-size: 3vh;

    }


    #icon-1 {
        width: 40vw;
        left: 0;
        top: -10vh;
        border: 3px solid yellow;
    }

    #icon-2 {
        width: 40vw;
        left: 40vw;
    }

    #icon-3 {
        width: 45vw;
        right: 0;
    }

    #icon-4 {
        width: 60vw;
        left: 40vw;
    }

    #icon-5 {
        width: 50vw;
        top: -5vh;
    }

    #icon-6 {
        width: 60vw;
        left: 40vw;
    }

    .label {
        font-size: 5em;
    }

    .sidebar-content {
        flex-direction: column;
    }

    .slideshow-container {
        width: 70vw;
    }


    .slideshow-container img {
        padding-right: 0;
    }

    .text {
        width: 70vw;
    }

    .text p {
        height: 45vh;
        min-height: 40vh;
        font-size: 1.5em;
    }

    a {
        padding: 24px 32px;
    }

    .previous {
        left: -30px;
        top: 40%;
    }

    .next {
        right: -30px;
        top: 40%;
    }

    .dots {
        margin-bottom: 100px;
    }

} */



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #welcome {
        font-size: 5em;
    }

    #welcome-text {
        width: 60%;
        font-size: 2em;
    }

    #icon-1 {
        width: 25vw;
        top: 0;
        /* border: 3px solid red; */
        
    }

    #icon-2 {
        width: 25vw;
        left: 65vw;
        bottom: 10vh;
    }

    #icon-3 {
        width: 25vw;
        right: 0;
        /* border: 3px solid green; */
        
    }

    #icon-4 {
        width: 40vw;
        left: 65vw;
        bottom: 15vh;
    }

    #icon-5 {
        width: 30vw;
        right: 0;
        top: -5vh;
        /* border: 3px solid blue; */
    }

    #icon-6 {
        width: 40vw;
        left: 60vw;
        bottom: 15vh;
    }

    .label {
        font-size: 3.5em;
    }

    .sidebar-content {
        flex-direction: row;
    }

    .slideshow-container {
        width: 50vw;
        /* border: 3px solid yellow; */
    }

    .slideshow-container img {
        padding-right: 15px;
    }

    .text {
        width: fit-content;
    }

    .text p {
        height: 50vh;
        min-height: 50vh;
    }

    a {
        padding: 8px 16px;
    }

    .previous {
        left: 0;
        top: 50%;
    }

    .next {
        right: 0;
        top: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #icon-1 {
        width: 25vw;
        right: -5vw;
        /* border: 3px solid red; */
        top: 5vh;
    }

    #icon-2 {
        width: 22vw;
        left: 65vw;
        bottom: 10vh;
        bottom: 20vh;
        /* border: 3px solid green; */
    }

    #icon-3 {
        width: 20vw;
        right: -3vw;
        top: 13vh;
        /* border: 3px solid green; */
    }

    #icon-4 {
        width: 30vw;
        left: 70vw;
        bottom: 25vh;
        /* border: 3px solid blue; */
    }

    #icon-5 {
        width: 20vw;
        right: -3vw;
        top: 0;
    }

    #icon-6 {
        width: 25vw;
        left: 65vw;
        bottom: 15vh;
    }

    .label {
        font-size: 4em;
    }

    .sidebar-content {
        flex-direction: row;
    }

    .slideshow-container {
        width: 50vw;
        /* border: 3px solid yellow; */
    }

    .slideshow-container img {
        padding-right: 15px;
    }

    .text {
        width: fit-content;
    }

    .text p {
        height: 50vh;
        min-height: 50vh;
        font-size: 2em;
        font-size: 24px;
        /* border: 3px solid blue; */
    }

    a {
        padding: 8px 16px;
    }

    .previous {
        left: 0;
        top: 50%;
    }

    .next {
        right: 0;
        top: 50%;
    }
    
}

/* Extra extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    #icon-1 {
        width: 25vw;
        right: -5vw;
        /* border: 3px solid red; */
        top: 0;
    }

    #icon-2 {
        width: 22vw;
        left: 65vw;
        bottom: 10vh;
    }

    #icon-3 {
        width: 20vw;
        right: -3vw;
    }

    #icon-4 {
        width: 30vw;
        left: 70vw;
        bottom: 25vh;
    }

    #icon-5 {
        width: 20vw;
        right: -3vw;
        top: 0;
    }

    #icon-6 {
        width: 25vw;
        left: 65vw;
        bottom: 15vh;
    }

    .label {
        font-size: 5em;
    }

    .text p {
        font-size: 2em;
    }
}

/* Style the scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #341b0f;
}

::-webkit-scrollbar-thumb {
    background-color: #D2971A;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D1B373;
}